*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    height: 100vh;

   
}
header{
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


   

li{
    list-style-type: none;
}
    



a{
    text-decoration: none;
    color:white;
    font-weight: 600;
    padding: 15px;


}
a:hover{
    background-color: cornflowerblue;
    transition: 0.6s;
    color:black;

}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 35%;
    text-align: center;
}
h1{
    margin-top: 80px;
    font-size: 50px;
    font-weight: 800;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color:rgb(19, 19, 224);
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.banner img{
    
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}



hr{
    width: 150px;
    margin: auto;
    border: 1px solid blue;
    margin-top: 20px;


}


.flex-container{
    display: flex;
    width: 100%;
    

}
.f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:lightgrey;
    

}
h3{
    color: #555;
    font-size: 20px;
    margin-bottom: 25px
}
h2{
    color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}
li p{
    margin: 0;
}
li{
    padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

h3{
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}
@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

.оur-work{
	background-color: #fff;
}

.our-work .grid{display:flex;}
.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}



@media screen and (max-width: 680px){
    #c1{
         display: flex;
         flex-direction: column;
         
    }
    header{
         display: flex;
         flex-direction: column;
         
    }
    input{
        display: flex;
        flex-direction: column;
        
         

    }
  
         
    }
    
    
    

       



